.invoice-new-container {
  padding-top: 15px;
  padding-left: 25px;
  padding-right: 25px;
  .invoice-left-container {
    width: 65%;
    float: left;
    padding-right: 10px;

    & > * {
      padding-bottom: 15px;
    }

    .invoice-detail {
    }
    .invoice-total {
    }
  }

  .invoice-total-container {
    width: 27%;
    position: fixed;
    right: 30px;
  }

}
