.datapair-component {
  margin-bottom: 30px;

  .label {
    display: block;
    color: rgba(#444, 0.5);
    font-size: 13px;
  }

  .value {
    font-size: 15px;
    color: #444444;
    margin: 0;
  }
}