.invoices-list {
  border-right: solid 1px rgba(#78828C, 0.13);
  //flex: 1;
  height: 100%;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;

  .infinite-list-container {
    flex: 1;
    overflow-y: auto;
    padding: 0 !important;
  }

  .active {
    background-color: rgba(0,0,0,0.06) !important;
    border-right: solid 5px #B0C447 !important;
  }

  .inactive {
    opacity: 0.6;
  }

  .invoice-item {
    border-bottom: #FFF !important;
  }

  .message {
    top: 23px !important;
    padding: 5px 30px;
    margin-top: 25px;
    display: block;
    font-size: 13px;
    border-radius: 15px;
    color: white;
    &.pending {
      background-color: #5b76fd !important;
    }
    &.charged {
      background-color: #a3bb31 !important;
    }
    &.canceled {
      background-color: #e60000 !important;
    }
  }
}
