.invoice-total {
  min-width: 400px;

  .row-total {
    display: inline-block;
    padding-left: 10px;

    span {
      margin: 0 auto;
    }

    .row-total-value {
      input {
        text-align: center;
      }
    }
  }
}
